$primaryColor: #87d0cb;

@keyframes bar-chart-left {
  from {
    left: -500px;
  }
  to {
    left: 0%;
  }
}

@keyframes bar-chart-fill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bar_graph {
  border-top: 2px solid #d8d9dd;
  border-bottom: 2px solid #d8d9dd;
  // padding-top: 10px;
  .bar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border: 0;
    }
    // fill: #aaa;
    // width: 100%;
    // animation: bar-chart-left 1s;
    // transition: fill 1s ease;
    // cursor: pointer;
    // font-family: Helvetica, sans-serif;

    svg {
      width: 100%;
    }

    rect {
      &:hover {
        animation: bar-chart-fill 1s;
      }
    }
    text {
      fill: #555;
      font-size: 0.15rem;
    }

    .name {
      width: 6em;
      flex-shrink: 0;
      // fill: $primaryColor;
    }

    .percent {
      width: 3em;
      flex-shrink: 0;
      color: $primaryColor;
    }

    .amount {
      width: 10em;
      flex-shrink: 0;
      text-align: right;
    }
  }
}
