$primaryColor: #87d0cb;

@keyframes bar-chart-left {
  from {
    left: -500px;
  }
  to {
    left: 0%;
  }
}

@keyframes bar-chart-fill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bar_graph {
  border-top: 2px solid #d8d9dd;
  border-bottom: 2px solid #d8d9dd;
  padding-top: 10px;
  .bar {
    fill: #aaa;
    width: 100%;
    animation: bar-chart-left 1s;
    transition: fill 1s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;

    rect{
      &:hover {
        animation: bar-chart-fill 1s;
      }
    }
    text {
      fill: #555;
      font-size: 0.15rem;
    }

    .percent {
      fill : $primaryColor;
    }

    .amount {
      width: 100%;
      text-align: right;
    }
  }
  .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 0.1;
  }
}

