$border: 2px solid rgba($color: #000000, $alpha: .1);

.calendar {
  display: flex;
  flex-direction: column;
  .week {
    width: 100%;
    display: flex;
    .day {
      box-sizing: content-box;
      width: 8rem;
      padding: .3rem;
      border-top: $border;
      border-left: $border;
      border-bottom: $border;
    }
    .day:last-child {
      border-right: $border;
    }

    .calendar__day {
      display: flex;
      width: 8rem;
      height: 8rem;
      padding: .3rem;
      border-left: $border;
      border-bottom: $border;
      box-sizing: content-box;
    
      .history {
        display: flex;
        flex-direction: column;
        margin: auto 0 0 auto;

        .income_amount {
          margin-left: auto;
          color: #3a78fe;
        }
      
        .expense_amount {
          margin-left: auto;;
          color: #29b7ad;
        }
      }  
    }
    .calendar__day:last-child {
      border-right: $border;
    }
  }

  .sun {
    color: red;
  }

  .sat {
    color: blue;
  }

  .past, .future{
    color: rgba($color: #000000, $alpha: 0)
  }
}