.hkb_form {
  background-color: #fcfcfd;
  border-radius: 10px;
  padding: 10px;

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    button {
      background-color: #29b7ad;
      border: 0;
      padding: 10px 0;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
      cursor: pointer;
    }

    .col {
      width: 100%;
      display: flex;
      align-items: center;
      margin-right: 20px;
      min-height: 30px;

      &.right {
        justify-content: flex-end;
      }

      &:last-child {
        margin: 0;
      }

      label {
        margin-right: 10px;
        flex-shrink: 0;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid #9b9b9b;
        background-color: transparent;
        text-align: right;
      }

      select {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid #9b9b9b;
        background-color: transparent;
      }

      button {
        border-radius: 10px;
        min-width: 100px;
        padding: 5px 0;
        border: 1px solid #29b7ad;
        margin-right: 10px;

        &.active,
        &:hover {
          background-color: #fff;
          border: 1px solid #29b7ad;
          color: #29b7ad;
        }
      }

      .contents_remove {
        background-color: transparent;
        border: 0;
        margin: 0;
        color: #29b7ad;
        text-align: right;

        &:hover {
          border: 0;
          color: #000;
          background-color: transparent;
        }
      }

      .amount_input_box {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #9b9b9b;

        input {
          border: 0;
          margin-right: 5px;
        }
      }
    }
  }

  .confirm {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
